<section>

  <div class="new-account center">
    <span>Novo Cadastro</span>
    
    <div>
      <label for="email">E-mail</label>
      <input type="email" name="email" placeholder="Insira seu e-mail">
    </div>

    <div>
      <label for="password">Senha</label>
      <input type="password" name="password">
    </div>

    <div>
      <label for="repassword">Repetir Senha</label>
      <input type="password" name="repassword">
    </div>

    <div>
      <button type="button" name="cancel" routerLink="/login">Cancelar</button>
      <button type="submit" name="submit">Cadastrar</button>
    </div>
  </div>
  
</section>