<section>

  <div class="new-account">
    <span>Novo Cadastro</span>
    
    <label for="email">E-mail</label>
    <input type="email" name="email" placeholder="Insira seu e-mail">

    <label for="password">Senha</label>
    <input type="password" name="password">

    <label for="repassword">Repetir Senha</label>
    <input type="password" name="repassword">

    <button type="button" name="cancel" routerLink="/login">Cancelar</button>
    <button type="submit" name="submit">Cadastrar</button>
  </div>
  
</section>