
<section>
  
  <div class="center">
    <div class="box-center">

      <div class="title">Login</div>

      <span class="description">Efetue seu login para acessar o sistema</span>
      
      <div class="itens-input">
        <label for="login">E-mail</label>
        <input type="text" name="email" [(ngModel)]="input.email">
      </div>

      <div class="itens-input">
        <label for="password">Senha</label>
        <input type="password" name="password" [(ngModel)]="input.password">
      </div>

      <div class="button-content">
        <div>
          <input type="checkbox" name="saveStorage" [(ngModel)]="input.saveStorage">
          Gravar acesso
        </div>
        <button class="btn" type="submit" (click)="login()">Login</button>
      </div>

      <div class="extra-links">
        <button class="btn btn-link" routerLink="/new-account">Criar uma nova conta</button>
      </div>
    </div>
  </div>
  
</section>