@import '../../style/variables';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding: 30px;
    margin-top: 30%;
	box-shadow: 5px 5px 5px #888888;

    .title {
    	position: absolute;
    	width: 100%;
    	top: 0;
    	text-align: center;
    	padding: 10px 0;
    	background-color: $p-color;
    	color: $s-color;
    	font-size: 22px;
    }

    .description {
    	padding: 20px 0;
    }

    .itens-input {
    	display: flex;
    	flex-direction: column;
    	width: 100%;
    	padding-bottom: 20px;

    	label{
    		font-size: 14px;
    	}
    }

    .button-content {
    	display: flex;
    	justify-content: flex-end;
    	width: 100%;
    	padding-bottom: 20px;
    }

    .extra-links a {
    	text-decoration: none;
    	color: $p-color;

    	&:hover {
    		color: $o-color;
    	}
    }
}