
<section>

  <div class="my-request">
    <h1>Meus pedidos</h1>
    <h2>Empresa X</h2>

    <label for="cnpj">CNPJ</label>
    <input type="text" name="cnpj">

    <label for="request">Pedido</label>
    <input type="text" name="request">

    <button type="button" name="filter">Filtrar</button>

    <table>
      <tr>
        <th>Código do Pedido</th>
        <th>Itens do Pedido</th>
        <th>Ações</th>
      </tr>
      <tr>
        <td>20</td>
        <td>
          2x carvão, <br>
          20x cerveja, <br>
          2x carne, <br>
          1x guardanapo
        </td>
        <td>
          <a href="#">Cancelar</a>
        </td>
      </tr>
      <tr>
        <td>300</td>
        <td>
          10x cerveja, <br>
          1x carvão, <br>
          10x guardanapo, <br>
          1x carne
        </td>
        <td>
          <a href="#">Cancelar</a>
        </td>
      </tr>
    </table>

  </div>
  
</section>