html,
body {
	height: 100%;
}

body {
    background-color: $s-color;
    margin: 0 auto;
    min-height: 100%;
}

.btn {
	padding: 5px 15px;
    font-size: 16px;
    background-color: transparent;
    border-color: $o-color;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    &.btn-link {
    	border: 0;
    	&:hover {
    		background-color: transparent;
    		color: $o-color;
    	}
    }

    &:hover {
    	background-color: $o-color;
    	color: $s-color;
    }

}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10%; 

	.box-center {
	    display: flex;
	    flex-direction: column;
	    align-items: center;

	    background-color: white;
	    padding: 30px;
		box-shadow: 5px 5px 5px #888888;

	    .title {
	    	position: absolute;
	    	width: 100%;
	    	top: 0;
	    	text-align: center;
	    	padding: 10px 0;
	    	background-color: $p-color;
	    	color: $s-color;
	    	font-size: 22px;
	    }

	    .description {
	    	padding: 20px 0;
	    }

	    .itens-input {
	    	display: flex;
	    	flex-direction: column;
	    	width: 100%;
	    	padding-bottom: 20px;

	    	label{
	    		font-size: 14px;
	    	}
	    }

	    .button-content {
	    	display: flex;
	    	justify-content: flex-end;
	    	width: 100%;
	    	padding-bottom: 20px;
	    }

	    .extra-links a {
	    	text-decoration: none;
	    	color: $p-color;

	    	&:hover {
	    		color: $o-color;
	    	}
	    }
	}
}

.body-content {
	.content {
		h1 {
			border-bottom: 1px solid #e02438;
			width: 100%;
		}

		h2 {
			font-size: 1.2em;
			color: #666;
		}

		table {
			// border: 1px solid #e02438;

			thead {
				background-color: #666666;
				color: $s-color;

				th {
					font-size: 20px;
					padding: 5px 20px;
				    border-bottom-color: #e02438;
				    border-bottom-width: 5px;
				    border-bottom-style: ridge;
				}
			}

			tbody {
				tr {
					&:nth-child(even) {
						background: #CCC
					}
					&:nth-child(odd) {
						background: #FFF
					}
				}

				td {
					font-size: 18px;
					padding: 5px 10px;

					a {
						width: 100%;
						display: inline-block;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.box-content {
	display: flex;
	flex-direction: column;

	.content {
		align-self: center;
		width: 50%;

		.box {
			margin: 20px 0;
		}
	}
}