
<section>

  <div class="my-account box-content">
    <h1>Minha Conta</h1>

    <div class="content">
        <div class="description box">
            <span>Edite as informações de sua conta</span>
        </div>

        <div class="text-input box">
            <label for="email">E-mail</label>
            <input type="email" name="email">
        </div>

        <div class="text-input box">
            <label for="password">Senha</label>
            <input type="password" name="password">
        </div>

        <div class="text-input box">
            <label for="repassword">Repetir Senha</label>
            <input type="password" name="repassword">
        </div>

        <div class="button-content box">
            <button class="btn btn-link" type="button" name="cancel">Cancelar</button>
            <button class="btn" type="submit" name="submit">Alterar dados</button>
        </div>
    </div>
  </div>
  
</section>